@model Filmy.Models.Uzytkownik

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Uzytkownik</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Imie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Imie)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nazwisko)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nazwisko)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
    </dl>
</div>

@if (Model.Oceny != null && Model.Oceny.Count > 0)
{
    <div>
        <h4>Filmy</h4>
        <hr />
        <table class="table">
            <thead>
                <tr>
                    <th>Tytuł</th>
                    <th>Ocena</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var ocena in Model.Oceny)
                {
                    <tr>
                        <td>@ocena.Film.Tytul</td>
                        <td>@ocena.OcenaWartosc</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
