@model Filmy.Models.Aktor

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Aktor</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Imie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Imie)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nazwisko)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nazwisko)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataUrodzenia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataUrodzenia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KrajPochodzenia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KrajPochodzenia)
        </dd>
    </dl>
</div>


@if (Model.Films != null && Model.Films.Count > 0)
{
    <div>
        <h4>Filmy</h4>
        <hr />
        <table class="table">
            <thead>
                <tr>
                    <th>Tytuł</th>
                    <th>Gatunek</th>
                    <th>Rok Produkcji</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var film in Model.Films)
                {
                    <tr>
                        <td>@film.Tytul</td>
                        <td>@film.Gatunek</td>
                        <td>@film.RokProdukcji</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>